
<div class="card w-50 m-auto">
  <table class="table mb-0">
    <thead class="thead-dark">
      <tr colspan="2" >
        <th colspan="2">Your order #<%= @order.id %></th>
        <th class="text-right"><%= @order.user.name %></th>
    
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3"><%= @order.restaurant.address %></td>
      </tr>
      <tr  class="border-bottom">
        <td colspan="3"><strong>
          <%= @order.collection_date.strftime('%-d %b %Y') %>, <%= @order.restaurant.collection_time.strftime('%l:%M%p') %>
        </strong></td>
      </tr>
      <% @grouped_line_items.each do |line_item| %>
        <tr class="borderless-y">
          <td><%= line_item[:name] %></td>
          <td class="text-right">x<%= line_item[:quantity] %></td>
          <td class="text-right"><%= Money.new(line_item[:quantity] * line_item[:amount]).format %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2" class="font-weight-bold">Total</td>
        <td class="text-right font-weight-bold"><%= @order.total_price.format %></td>
      </tr>
      <tr class="pb-0">
        <td colspan="3" class="p-0"><button id="collect" class="btn btn-dark w-100" >Collect</button></td>
      </tr>
      
    </tbody>
  </table>
  <p><%= @order.status %></p>
  <p id="demo2"></p>
</div>

<script>
  const collectButton = document.getElementById('collect');
  console.log('<%= @order.status %>')
  collectButton.addEventListener('click', () => {
    
     console.log('<%= @order.update(status: "Collected") %>')
     console.log('<%= @order.status %>')
     document.getElementById("demo2").innerHTML = "<%= @order.status %>"
    
  });
</script>