<div class="card-trip">
  <% if @restaurant.photo.attached? %>
    <%= cl_image_tag @restaurant.photo.key %>
  <% else %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" %>
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to @restaurant.name, restaurant_path(@restaurant), class: "text-dark" %></h2>
      <p><%= @restaurant.description %></p>
      <p class="mt-3">
        <strong>Collection address: </strong>
        <%= @restaurant.address %>
      </p>

      <p>
        <strong>Collection time: </strong>
        <%= @restaurant.collection_time.strftime('%l:%M%p') %>
      </p>

    </div>
    <div class="card-avatar">
      <% if @restaurant.photo.attached? %>
        <%= cl_image_tag @restaurant.user.photo.key, class: "avatar-bordered" %>
      <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "card-trip-user avatar-bordered" %>
      <% end %>
      <h3 class="mt-2"><%= @restaurant.user.name %></h2>
    </div>
  </div>
</div>

<div class="card-trip mt-3">
  <div class="card-trip-infos">
    <div>
      <h3 class="badge badge-dark"><%= @order.status %></h3>
      <h2>Current order</h2>
      <ul class="pl-0 mt-2">
        <% @order.line_items.each do |line_item| %>
          <li class="list-unstyled">
            <%= line_item.meal.name %> x <%= line_item.quantity %>
            <%= link_to line_item_path(line_item), method: :delete, data: { confirm: "Are you sure?" } do %>
              <small><i class="fas fa-trash-alt ml-2 text-dark"></i></small>
            <% end %>
          </li>
        <% end %>
      </ul>
      <h5 class="mt-2">Total: <strong><%= @order.total_price.format %></strong></h5>
      <div class="btn-group mt-3" role="group">
        <% if @order.status != 'Cancelled' %>
          <%= link_to 'Go to checkout', order_path(@order), class: "btn btn-ghost" %>
          <%= link_to "Cancel order", cancel_order_path(@order), method: :patch, data: { confirm: "Are you sure you want to cancel your order?" }, class: "btn btn-ghost" %>
        <% end %>
        <%= link_to "Back", :back, class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
</div>

<div class="card-trip mt-3">
  <div class="card-trip-infos">
    <div class="w-100">
      <h2 class="font-weight-bold">Meals</h2>
      <% @restaurant.meals.each do |meal| %>
        <div class="card-product mt-2">
          <%= link_to restaurant_meal_path(@restaurant, meal) do %>
            <% if meal.photo.attached? %>
              <%= cl_image_tag meal.photo.key %>
            <% else %>
              <%= image_tag 'https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80' %>
            <% end %>
          <% end %>

          <div class="card-product-infos">
            <h2><%= link_to meal.name, restaurant_meal_path(@restaurant, meal), class: "text-dark" %></h2>
            <p class="mt-0"><%= meal.description %></p>
            <p><small><%= meal.ingredients %></small></p>
            <p class="mt-0"><small>Serves <%= meal.pax || 1 %> pax</small></p>
            <h5 class="mt-3 d-inline">$<%= meal.price %></h5>

            <%= simple_form_for @order do |f| %>
              <div class="form-inline">
                <%= f.simple_fields_for :line_item do |line_item_f| %>
                  <%= line_item_f.hidden_field :meal_id, :value => meal.id %>
                  <%= line_item_f.input :quantity, label: false, placeholder: "Quantity", input_html: { class: "form-control-sm" } %>
                  <%= line_item_f.button :submit,'Add', class: "btn btn-dark btn-sm" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
