<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <div class="container">
    <h1>JIAK</h1>
    <p>Get your meals here!</p>
    <div class="text-center">
      <a class="btn btn-flat" <%= link_to "Log in", new_user_session_path %></a>
      <a class="btn btn-flat" <%= link_to "Sign up", new_user_registration_path%>></a>
    </div>
  </div>
</div> -->

<div class="banner home_video">
  <%= video_tag "cooking.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
  <div class="align-items-center">
    <h1 class="home">JIAK</h1>
    <p class="home">A taste of home</p>
    <div class="text-center">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-ghost" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>
