<h2>@meal.name</h2>
<%= simple_form_for [ @restaurant, @meal ] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :ingredients %>
  <%= f.input :price %>
  <%= f.input :pax %>
  <%= f.button :submit, class: 'btn btn-primary btn-block' %>
<% end %>

