<%= simple_form_for :search, url: restaurants_path, method: :get do |f| %>
  <div class="form-group">
    <%= f.input :filters,
                  collection: Date::DAYNAMES,
                  as: :check_boxes,
                  checked: params.dig(:search, :filters),
                  input_html: {
                    class: "tag-selector"
                  },
                  item_wrapper_class: 'tag-item',
                  label: "Opening days:" %>
  </div>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search[query]" placeholder="<%= @search_placeholder %>" />
    <button name="commit" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search restaurant or meal
    </button>
  </div>
<% end %>

<h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant_path(restaurant) do %>
    <div class="card-product mb-2">
      <% if restaurant.photo.attached? %>
        <%= cl_image_tag restaurant.photo.key %>
      <% else %>
        <%= image_tag 'https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80' %>
      <% end %>

      <div class="card-product-infos">
        <h2><%= link_to restaurant.name.upcase, restaurant_path(restaurant), class: "fw-bold" %></h2>
        <p><%= restaurant.description.truncate(650) %></p>
        <% if restaurant.reviews.present? %>
          <p><%= restaurant.reviews.sum(&:rating)&.fdiv(restaurant.reviews.size).round(2) %><i class="fas fa-star fa-sm "></i> | <%= pluralize restaurant.reviews.size, "review" %></p>
        <% end %>
        <% restaurant.opening_days.each do |day| %>
          <span class="badge badge-dark w-10"><%= day %></span>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
