<% @orders.each do |order| %>
<div class="card w-50 mx-auto my-1">
  <table class="table mb-0">
    <thead class="<%= order.status == 'Paid' ? 'bg-success border border-success text-light' : 'thead-dark' %>">
      <tr>
        <th colspan="2">Order #<%= order.id %></th>
        <th class="text-right"><%= order.status %></th>
      </tr>
    </thead>
    <tbody>
      <tr  class="border-bottom">
        <td colspan="2"><strong>
          Collection: <%= order.collection_date.strftime('%-d %b %Y') %>, <%= order.collection_date.strftime('%l:%M%p') %>
        </strong></td>
        <td colspan="1" class="text-right"><%= order.user.name %> (<%= order.user.mobile_number %>)</td>
      </tr>
      <% order.line_items.group_by(&:meal).each do |meal, line_items| %>
        <tr class="borderless-y">
          <td><%= meal.name %></td>
          <td class="text-right">x <%= line_items.sum(&:quantity) %></td>
          <td class="text-right"><%= (line_items.sum(&:quantity) * meal.price).format %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2" class="font-weight-bold">Total</td>
        <td class="text-right font-weight-bold"><%= order.total_price.format %></td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>



