<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.description %></p>
<p><%= @restaurant.opening_days %></p>



<p><%= link_to "back to all restaurants", restaurants_path %></p>
