<div class="card-trip">
  <% if @restaurant.photo.attached? %>
    <%= cl_image_tag @restaurant.photo.key %>
  <% else %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" %>
  <% end %>
  <div class="card-trip-infos">
    <div class="w-75">
      <h2 class="card-title"><%= @restaurant.name %></h2>
      <p class="card-subtitle"><%= @restaurant.description %></p>
      <p class="mt-3">
        <strong>Collection address: </strong>
        <%= @restaurant.address %>
      </p>

      <p>
        <strong>Collection time: </strong>
        <%= @restaurant.collection_time.strftime('%l:%M%p') %>
      </p>

      <div class="btn-group mt-3" role="group">
        <% if policy(@restaurant).edit? %>
          <%= link_to 'Add meal', new_restaurant_meal_path(@restaurant), class: "btn btn-ghost" %>
          <%= link_to 'View orders', orders_restaurant_path(@restaurant), class: "btn btn-ghost" %>
          <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-ghost" %>
          <%= link_to "Remove",
            restaurant_path(@restaurant),
            method: :delete,
            data: { confirm: "Are you sure?"},
            class: "btn btn-ghost"
          %>
        <% end %>
        <%= link_to "Back", restaurants_path, class: "btn btn-ghost" %>
      </div>

      <div class="container mt-3 pl-1">
        <h2>Select date to order</h2>
        <%= simple_form_for @order do |f| %>
          <%= f.input :collection_date, label: false %>
          <%= f.hidden_field :restaurant_id, :value => @order.restaurant.id %>
          <%= f.button :submit, "Start ordering", :class => "btn btn-flat w-100" %>
        <% end %>
      </div>

    </div>
    <div class="card-avatar">
      <% if @restaurant.photo.attached? %>
        <%= cl_image_tag @restaurant.user.photo.key, class: "avatar-bordered" %>
      <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "card-trip-user avatar-bordered" %>
      <% end %>
      <h3 class="mt-2"><%= @restaurant.user.name %></h2>
    </div>
  </div>
</div>

<%= render 'meals', restaurant: @restaurant %>
