<h1>resto name</h1>
<p><%= @restaurant.name %></p>

<h2>resto address</h2>
<p><%= @restaurant.address %></p>

<h3>resto description</h3>
<p><%= @restaurant.description %></p>

<h4>resto collection time</h4>
<p><%= @restaurant.collection_time %></p>

<h4>resto opening days</h4>
<p><%= @restaurant.opening_days %></p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<%= link_to "back to all restaurants", restaurants_path %>
