<h1><%= @restaurant.name %></h1>
<p><small><%= @restaurant.description %></small></p>

<p>
  <strong>Opening days: </strong>
  <%= @restaurant.opening_days %>
</p>

<h4>Collection details</h4>
<p>
  <strong>Collection address: </strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Collection time: </strong>
  <%= @restaurant.collection_time.strftime('%l:%M%p') %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to "Back", restaurants_path %>
<%= link_to "Remove",
  restaurant_path(@restaurant),
  method: :delete,
  data: { confirm: "Are you sure?"}
%>

<div class="container mt-3">
  <h4>Order now</h4>
  <%= simple_form_for @order do |f| %>
    <%= f.input :collection_date %>
    <%= f.hidden_field :restaurant_id, :value => @order.restaurant.id %>
    <%= f.button :submit, :class => "btn btn-primary" %>
  <% end %>
</div>

<h4 class="mt-3">Meals</h4>
<div class="card-group">
  <% @restaurant.meals.each do |meal| %>
    <div class="card">
      <h2><%= link_to meal.name, restaurant_meal_path(@restaurant, meal) %></h2>
      <%= cl_image_tag meal.photo.key, height: 200, width: 300, crop: :fill %>
      <p><%= meal.description %></p>
      <p><%= meal.ingredients %></p>
      <p>$<%= meal.price %></p>
      <p><%= meal.pax %></p>
    </div>
  <% end %>
</div>
