<div class="card-trip">
  <% if @restaurant.photo.attached? %>
    <%= cl_image_tag @restaurant.photo.key %>
  <% else %>
    <%= image_tag ('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg') %>
  <% end %> 

  <div class="card-trip-title">
    <%= "My restaurant" if current_user == @restaurant.user %>
  </div>

  <div class="card-trip-infos">
    <div class="w-75">
      <h2 class="card-title"><%= @restaurant.name.upcase %></h2>
      <p class="card-subtitle"><%= @restaurant.description %></p>
      <p class="mt-3">
        <strong>Collection address: </strong>
        <%= @restaurant.address %>
      </p>

      <p>
        <strong>Collection time: </strong>
        <%= @restaurant.collection_time.strftime('%l:%M%p') %>
      </p>

      <p>
        <strong>Opening days: </strong>
        <% @restaurant.opening_days.each do |day| %>
          <span class="badge badge-dark w-10"><%= day %></span>
        <% end %>
      </p>

      <p><%= @restaurant.reviews.sum(& :rating)/@restaurant.reviews.size%> <i class="fas fa-star fa-sm "></i> | <%= pluralize @restaurant.reviews.size, "review" %> </p> 
      
     
      
      <div class="btn-group mt-3" role="group">
        <% if policy(@restaurant).edit? %>
          <%= link_to 'Add meal', new_restaurant_meal_path(@restaurant), class: "btn btn-ghost" %>
          <%= link_to 'View orders', orders_restaurant_path(@restaurant), class: "btn btn-ghost" %>
          <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-ghost" %>
          <%= link_to "Remove",
            restaurant_path(@restaurant),
            method: :delete,
            data: { confirm: "Are you sure?"},
            class: "btn btn-ghost"
          %>
        <% end %>
        <%= link_to "Reviews", restaurant_reviews_path(@restaurant), class: "btn btn-ghost" %>
        <%= link_to "Back", restaurant_path(@restaurant), class: "btn btn-ghost" %>
      </div>

    </div>
    <div class="card-avatar">
      <% if @restaurant.photo.attached? %>
        <%= cl_image_tag @restaurant.user.photo.key, class: "avatar-bordered" %>
      <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "card-trip-user avatar-bordered" %>
      <% end %>
      <h3 class="mt-2"><%= @restaurant.user.name %></h3>
    </div>
  </div>
</div>

<%= render 'reviews', restaurant: @restaurant %>

<%= simple_form_for([ @restaurant, @review ],remote: true) do |f| %>
  <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
  <%= f.input :content, label: false, as: :text %>
  <%= f.button :submit,class: "btn btn-ghost" %>
<% end %>